<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{texto}}
        <h2>{{textoModificado}}</h2>
        <h3>{{segundoTexto}}</h3>
        <h1 v-if="!hayPersonas" >No hay personas para mostrar</h1>
        <ul>
            <li v-for="(persona, index) in personas" 
            :key="index" 
            :class="persona.species.toLowerCase()"
            :tittle="persona.origin.name"
            >
                {{persona.name}} ({{persona.species}})
            </li>
        </ul>
        <br>
        <ul>
            <li v-for="(humano, index) in humanos" 
            :key="index" 
            >
                {{humano.name}} ({{humano.species}})
            </li>
        </ul>
    </div>
</body>
<script src="app.js"></script>
</html>

<style>
    .human{
        color:blue;
    }

    .alien{
        color:red;
    }
</style>