<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Introducción a Vue</title>
</head>
<body>
    <div id="app">
    
        <h1>{{miTexto}}</h1>
    
        <input type="text" v-model="miTexto">
    
        <button v-on:click="cambiarTexto"> Cambiar texto</button>
    
        <h3 v-if="series.length <= 1"> Debe tener al menos 1 elemento</h3>
    
        <ul>
            <li v-for="serie in series" :key="serie.id" v-bind:title="miTexto">
                {{serie.nombre}}
                <button>Remove</button>
            </li>
        </ul>
    
        <button @click="removerLastSerie" :disabled="series.length <= 1" >remove Last</button>

    </div>
</body>
<script src="app.js"></script>
</html>